h2{background-color:yellow}
	
P 				
{		
	text-align:left;			
	margin: 0.5px;
	color: black;
	font-size:2em;
	font-family: "Times New Roman", Times, serif;
}	

ul	
{
	text-align:left;
	font-size: 3em;
}									

b
{
	color:yellow;
}

li 
{
	color: yellow;
}

b
{
	color: yellow;
	font-size: 1em;
}




